* {
  box-sizing: border-box;
}

@font-face {
  font-family: viola;
  src: url(./font/Viola.ttf);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  background-color: #353434;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  margin-top: 5rem;
}

.item {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem 0;
  user-select: none;
  font-weight: 580;
  font-family: viola;
}

input {
  opacity: 0%;
  position: absolute;
  left: 0;
}

label::before {
  content: "";
  height: 1em;
  width: 1em;
  margin: 0 1.2rem 0 0;
  border-radius: 5px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked + label::before {
  content: url(./images/icons8-tick.svg);
}

input[type="checkbox"]:checked + label > z {
  text-decoration: line-through;
  text-decoration-color: #00ff08;
}

input[type="checkbox"]:focus + label::before {
  background-color: orangered;
}

h2:hover::before {
  content: "This is a tooltip";
  display: block;
  width: max-content;
  bottom: 6em;
  right: 50%;
  transform: translate(50%);
  background-color: orangered;
  padding: 0.5em;
  border-radius: 10px;
  position: absolute;
}

h2:hover::after {
  content: "";
  border: 15px solid transparent;
  display: block;
  width: fit-content;
  border-top-color: orangered;
  top: calc(33rem - 5px);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
